.table_1 {
	width: 100%;
}

 .table, td, th {
	border: 1px solid #000000;
}

.table_1 th {
	height: 27px;
	width: 278px;
}

.table_2 {
	border: 1px solid #000000;
}
 
.middle {
	width: 45%;
	margin: auto;
	padding: 20px;

}

.middle th {
	padding: 0 15px;
}


.lowland {
	width: 45%;
	margin: auto;
	padding: 10px;	
}

.unframed {
	border-collapse: collapse;
	border: 2px solid #444444;
	box-shadow: 0 0 5px #afafaf;
	margin-bottom: 5px;
}

td {
	padding: 5px;
}