.first-table {
	width: 1000px;
	margin: 0 auto;
}

td, th{
	padding: 5px;
}

 .table, td, th {
	border: 1px solid #000000;
}

.first-table, .middle-table{
	border: 1px solid #000000;
}
 
.middle-bottom-table {
	width: 592px;
	margin: auto;
	padding: 15px;
}

.bottom-table {
	border-collapse: collapse;
	border: 2px solid #444444;
	box-shadow: 0 0 5px #afafaf;
}

.bottom-table th {
	text-align: left;
}